{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class="container-xxl text-center w-100 m-auto">
<div class = "login">
    <br>
    <h1 style="font-weight:bold;">Login</h1>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <table table class="m-auto w-auto">
            <tr>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td><input class="w-100 btn btn-primary" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
    <br>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>
</div>
{% endblock content %}