{% extends 'base.html' %}

{% block meta %}
<title>Registration</title>
{% endblock meta %}

{% block content %}  

<div class = "login">
    <br>
    <h1 class="text-center" style="font-weight:bold;">Registration</h1>  
    <br>
        <form method="POST" >  
            {% csrf_token %}  
            <table table class="m-auto w-auto">  
                {{ form.as_table }}  
                <tr> 
                    <td></td>
                    <td><input class="btn btn-primary" type="submit" name="submit" value="Register"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li class="text-center">{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}
<br>
</div>  

{% endblock content %}