{% extends 'base.html' %}

{% block meta %}
<title>Wishlist</title>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Arina Aunaka</a>
        <button class="btn btn-outline-danger" type="button" onclick="location.href='/wishlist/logout'">Logout</button>
    </div>
</nav>
<br>

<div class="container-xxl">
<h1 style="font-weight:bold;">Wishlist＼ʕ◕ᴥ◕＼ʔ</h1>
<h5 style="color:darkslategray">Hello, {{user.get_username}}!</h5>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Nama Barang</th>
            <th>Harga Barang</th>
            <th>Deskripsi</th>            
        </tr>
    </thead>
    <tbody>
        {% for barang in list_barang %}
    <tr>
        <td>{{barang.nama_barang}}</td>
        <td>{{barang.harga_barang}}</td>
        <td>{{barang.deskripsi}}</td>
    </tr>
    {% endfor %}        
    </tbody>
</table>
<p class="text-muted">Sesi terakhir login: {{ last_login }}<p>
</div>
{% endblock content %}
</html>